<h2>Profile</h2>
<dl>
  <dt>Rails Org Member:</dt>
  <dd><%= github_organization_access?('rails') %></dd>
  <dt>Publicized Rails Org Member:</dt>
  <dd><%= github_public_organization_access?('rails') %></dd>
  <dt>Rails Committer Team Member:</dt>
  <dd><%= github_team_access?(632) %></dd>
</dl>